_book
node_modules
# Ignore target folders of all Maven projects
**/target/
# Ignore internal IntelliJ files
.idea
**/*.iml
# Ignore Eclipse settings
.settings
.classpath
.project

# Misc
embedded_hbase
embedded_zk
/build/
.gradle
**/bin/
*.log*
*gvcf.gz
